
<h1>Articles associated with "<%= @tag.name %>"</h1>
<ul>
    <% @tag.articles.each do |article| %>
        <li><%= link_to article.title, article_path(article) %></li><br>
    <% end %>
</ul>
<p> <%= link_to "<< Back to Articles", articles_path %> |
<%= link_to "See All Tags", tags_path %></p>
